In [2]:
s = "Hi there jayasurya!"

In [3]:
s.split(' ')

['Hi', 'there', 'jayasurya!']

In [5]:
planet = "Earth"
diameter = 12747

In [6]:
print('The diameter of the {} is {} kilometers'.format(planet, diameter))

The diameter of the Earth is 12747 kilometers

In [9]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'surya']}]}]}

In [10]:
d['k1'][3]['tricky'][3]['target'][3]

'surya'

In [11]:
import numpy as np

4.1. Create an array of 15 zeros?

4.2. Create an array of 7 fives?

In [12]:
np.zeros(15)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [13]:
np.zeros(10) + 7

array([7., 7., 7., 7., 7., 7., 7., 7., 7., 7.])

Create an array of all the even integers from 20 to 39?

In [14]:
np.arange(20,39,2)

array([20, 22, 24, 26, 28, 30, 32, 34, 36, 38])

Create a 3x3 matrix with values ranging from 0 to 9

In [16]:
np.arange(0,9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

Concatenates a and b



a = np.array([1, 2, 4]), b = np.array([7, 5, 6])

In [15]:
a = np.array([1, 2, 4])
b = np.array([7, 5, 6])

In [17]:
np.concatenate((a,b))

array([1, 2, 4, 7, 5, 6])


Pandas

Create a dataframe with 4 rows and 2 columns.

In [18]:
import pandas as pd

In [19]:
data = np.arange(0,8).reshape(4,2)
df = pd.DataFrame(data)
df

   0  1
0  0  1
1  2  3
2  4  5
3  6  7

Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [20]:
df = pd.date_range(start='20/1/23', end='20/05/23')
df

DatetimeIndex(['2023-01-20', '2023-01-21', '2023-01-22', '2023-01-23',
               '2023-01-24', '2023-01-25', '2023-01-26', '2023-01-27',
               '2023-01-28', '2023-01-29',
               ...
               '2023-05-11', '2023-05-12', '2023-05-13', '2023-05-14',
               '2023-05-15', '2023-05-16', '2023-05-17', '2023-05-18',
               '2023-05-19', '2023-05-20'],
              dtype='datetime64[ns]', length=121, freq='D')

Create 2D list to DataFrame

In [21]:
lists = [[1, 'aaa', 22], [2, 'bbb', 28], [3, 'ccc', 24]]

In [22]:
df = pd.DataFrame(lists)

In [23]:
df

   0    1   2
0  1  aaa  22
1  2  bbb  28
2  3  ccc  24